@font-face {
    font-family: 'Ireland':
src: url('https://github.com/Peacelove2022/htrhdrt/raw/refs/heads/main/ofont.ru_Ireland.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
        body {    
    background-color: #ffff00;
    color: #0000ff;
    font-family: "Calibri";

}
h1 {
    color: #ff0000;
    font-size: 2em;
    text-align: center;
    font-family: "Calibri";
}
p {
    font-size: 1,2em;

}
ul {
    list-style-type: square;
 }
 a {
    color: #ffff00;
    text-decoration: none;
}
a:hover {
text-decoration: underline;
}
